@import 'variables/colors';

body {
  background: $darkgrey;
  font-family: sans-serif;
  font-size: 95%;
  margin: 0;
  padding: 0;
}


header,
article {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 44em;
  width: 100%;
}

header {
  color: $lightgrey;
  margin: 2em auto;
  text-align: center;

  h1 {
    font-size: 3em;
    font-weight: normal;
    margin: 0;
  }

  p {
    font-size: 1.1em;
    margin: 0;
  }

  a {
    border-bottom: 1px dotted $highlight;
    color: $lightgrey;
    text-decoration: none;
    &:hover {
      color: $highlight;
    }
  }
}

article {
  box-shadow: 0 0 10px $shadow;
}
